<div class="form-group">
    <input 
    [class.is-invalid]='ngControl.touched && ngControl.invalid'
    type={{type}} class="form-control" 
    [formControl]="ngControl.control"
    placeholder={{label}}>

    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter a {{label}}</div>
    <div *ngIf="ngControl.control.errors?.minLength" class="invalid-feedback">must be atleast {{ngControl.control.errors.minlength['requiredLength']}}</div>
    <div *ngIf="ngControl.control.errors?.maxLength" class="invalid-feedback">must be at most{{ngControl.control.errors.maxlength['requiredLength']}}</div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">Passwords do not match</div>

</div>