<ng-container>

  <button (click)="get500error()"class="btn btn-primary mr-3">Test 500</button>
  <button (click)="get400error()"class="btn btn-primary mr-3">Test 400</button>
  <button (click)="get401error()"class="btn btn-primary mr-3">Test 401</button>
  <button (click)="get404error()"class="btn btn-primary mr-3">Test 404</button>
  <button (click)="get400validationError()"class="btn btn-primary mr-3">Test 40 validation</button>
  
  <div class="row mt-5" *ngIf="validationError.length>0">

    <ul class="text-danger">
      <li *ngFor="let error of validationError">{{error}}</li>
    </ul>

  </div>
</ng-container>