a.dropdown-item:hover {
    cursor:pointer;
    background-color: lightblue;
}

.heartIcon{
    width: 30px;
    outline: auto;
    margin-right: 6px;
}

img{
    max-height: 40px;
    border: 2px solid white;
    display: inline;
}