<form [formGroup]="registerForm" (ngSubmit)="register()" sutocomplate="off">
    <h2 class="text-center text-primary">Sign up!</h2>
    <hr>
    <div class="form-group">
        <input type="text" 
        [class.is-invalid]='registerForm.get("username").errors && registerForm.get("username").touched'
        class="form-control" 
        formControlName='username' placeholder="Username">
        <div class="invalid-feedback">Please enter  username</div>
    </div>

    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched'
        type="password" class="form-control" formControlName='password'
        placeholder="password">

        <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please enter  password</div>

        <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">length of minimum 4 is required</div>

        <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">length of maximum 12 is allowed</div>
    </div>

    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
        type="password" class="form-control" formControlName='confirmPassword'
        placeholder="confirm Password">

        <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">password required</div>

        <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">passwords dont match up </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-secondary  mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>

